/* style.css */

* {
  box-sizing: border-box;
}

:focus {
  outline: none;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #ffde00 0%, #ff9900 60%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.search-container {
  position: relative;
  width: 300px;
}

.search-container input,
.search-container .suggestions {
  width: 100%;
}

.search-container input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #da8402;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to right, #f7e25b 0%, #ffbe5d 100%);
  color: #232222;
}

.search-container input:placeholder {
  color: #2624242a;
}

.search-container .suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  background: rgba(255, 204, 109, 0.7);
  border: 1px solid #da8402;
  border-top: none;
  max-height: 150px;
  overflow-y: auto;
  z-index: 1000;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.has-suggestions {
  border-top: none;
}

ul li {
  padding: 10px;
  cursor: pointer;
}

ul li:hover {
  background: #ff9d00;
}

ul li strong {
  font-weight: bold;
}